/* components/Navbar/Navbar.css */
/* styles.css */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; /* Add your desired background color */
  }
  
  .logo img {
    max-height: 40px; /* Adjust the height as needed */
  }
  
  .contact-info {
    display: flex;
    align-items: center;
  }
  
  .email {
    margin-right: 20px;
  }
  
  .call-button {
    background-color: #a73a3a;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: none;
  }
  
  .phone-icon {
    margin-right: 5px;
  }
  