/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333; /* Adjust background color as needed */
    color: #fff; /* Adjust text color as needed */
  }
  
  .logo-left img,
  .logo-right img,
  .image img {
    height: 50px; /* Adjust the height of the logos and image as needed */
    /* Add any additional styling for logos and image here */
  }
  
  .logo-right span {
    margin-left: 10px; /* Add space between the right logo and email text */
  }
  